body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    display: grid;
    justify-items: center;
    gap: 60px;
    margin-top: 60px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

p, h1, h2, h3 {
    margin: 0px;
}

.menu {
    display: flex;
    gap: 150px;
    padding-top: 30px;
}

.menu a {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    color: #000000;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: rgb(131, 6, 6);
    color: #ffffff;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    text-align: center; /* Centraliza o texto em telas maiores */
}

.introducao {
    background-color: #ffffff;
    padding: 50px;
    display: grid;
    align-content: center;
    justify-items: center; /* Centraliza os itens */
    gap: 20px;
}

.botao {
    background-color: red;
    color: #ffffff;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 5px;
}

.subtitulo {
    font-size: 60px;
    text-transform: uppercase;
    padding: 40px;
    color: rgba(0, 0, 0, 0.2);
    align-self: center;
}

.vantagens {
    background-color: #ffffff;
    padding: 40px;
    text-align: center; /* Centraliza o texto das vantagens */
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 20px;
    padding: 20px;
}

.vantagens-item p {
    grid-column: 2;
}

.rodape {
    background-color: #ffffff;
    padding: 40px 0px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
    .menu {
        gap: 100px;
    }

    .subtitulo {
        font-size: 50px;
    }

    .conteudo {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .conteudo {
        grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
    }

    .introducao {
        text-align: center; /* Centraliza o texto */
        justify-items: center;
    }

    .subtitulo {
        font-size: 40px; /* Diminui o tamanho da fonte */
    }
}

@media (max-width: 480px) {
    body {
        margin-top: 30px;
        gap: 30px;
    }

    .menu {
        gap: 10px;
    }

    .botao {
        padding: 10px 20px; /* Diminui o padding do botão */
    }

    .subtitulo {
        font-size: 30px; /* Diminui ainda mais o tamanho da fonte */
    }

    .vantagens-item {
        grid-template-columns: 1fr; /* Uma coluna para itens de vantagens */
    }
}


.botao_1 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

